<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxf.pms.mapper.BugMapper">

    <select id="list" resultType="jxf.pms.dbo.ProjectDO">
        <bind name="name" value="'%' + name + '%'" />
        <bind name="code" value="'%' + code + '%'" />

        select
            a.id, a.code, a.name, a.project_status,  a.begin_date, a.end_date, b.name leader_name,
            a.working_days, a.describe, c.estimate_hours, c.cost_hours
            from "project" a
            join  "user" b on b.id = a.leader
            left join (
                select
                project_id,
                sum(estimate_hours) estimate_hours,
                 sum(cost_hours) cost_hours
                 from task where task_status != '已取消'
                group  by project_id
            ) c on c.project_id = a.id
         where 1 = 1
        <if test="id != null">
            and a.id = #{id}
        </if>
        <if test="code != null and code != ''">
            and a.code like #{code}
        </if>
        <if test="name != null and name != ''">
            and a.name like #{name}
        </if>
        <if test="projectStatus != null and projectStatus != ''">
            and a.project_status = '${projectStatus}'
        </if>
        order by a.id desc
    </select>

    <select id="all" resultType="jxf.pms.dbo.BugDO">
        select
            a.id,a.name
            from "bug" a
        <if test="projectId != null">
            and a.project_id = #{projectId}
        </if>
        order by a.id desc
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "project" (code, name, begin_date, end_date, working_days, leader, "describe", create_time, create_by, project_status)
        VALUES ( #{code},  #{name}, #{beginDate}, #{endDate}, #{workingDays}, #{leader}, #{describe}, #{createTime}, #{createBy},
            '${projectStatus}');
    </insert>

    <update id="update">
        update "project" set
        name = #{name}, code = #{code}, begin_date = #{beginDate}, end_date = #{endDate}, working_days = #{workingDays}, leader = #{leader},
        describe = #{describe}, project_status = '${projectStatus}'
        where id = #{id}
    </update>

    <select id="getById" resultType="jxf.pms.dbo.ProjectDO">
        select
        a.id, a.code, a.name, a.project_status,  a.begin_date, a.end_date, a."describe",  a.leader, b.name leader_name,
        a.working_days, a.describe, c.estimate_hours, c.cost_hours
        from "project" a
        join  "user" b on b.id = a.leader
        left join (
        select
        project_id,
        sum(estimate_hours) estimate_hours,
        sum(cost_hours) cost_hours
        from task where task_status != '已取消'
        group  by project_id
        ) c on c.project_id = a.id
        where a.id=#{id}
    </select>

    <update id="updateProjectStatus">
        update "project" set project_status = '${projectStatus}'
        where id = #{id}
    </update>
</mapper>
