<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxf.pms.mapper.ModuleMapper">

    <select id="list" resultType="jxf.pms.dbo.ModuleDO">
        select a.id, a.name, a.parent_id, b.name parent_name from module a
        left join  module b on b.id = a.parent_id
        where a.status != '删除'
        <if test="projectId != null">
            and a.project_id = #{projectId}
        </if>
        order by b.id asc, a.id asc
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "module" (project_id, name, parent_id,  create_by, create_time, status)
        VALUES ( #{projectId},  #{name}, #{parentId}, #{createBy},  #{createTime}, '正常')
    </insert>

    <update id="rename">
        update "module" set name = #{name} where id = #{id}
    </update>

    <update id="updateStatus">
        update "module" set status = '${status}' where id = #{id}
    </update>

    <select id="getByName" resultType="jxf.pms.dbo.ModuleDO">
        select id, name, parent_id from module
        where status != '删除' and name = #{name}
    </select>
</mapper>
