<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxf.pms.mapper.PermissionMapper">
    <select id="getPermissionList" resultType="jxf.pms.dbo.PermissionDO">
        select id, name, code, parent_id, level, url from permission a
        <if test="userId != 1">
        where a.id in (select permission_id from role_permission where role_id in(select unnest(roles) from "user" where id = #{userId}))
        </if>
        order by a.order_no asc
    </select>

    <select id="all" resultType="jxf.pms.dbo.PermissionDO">
        select id, name, code, url, parent_id, level from permission a
        order by a.order_no asc
    </select>
</mapper>
