<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxf.pms.mapper.TestStepMapper">

    <select id="list" resultType="jxf.pms.dbo.TestStepDO">
        select
        a.id, name, expect, test_case_id
        from "test_step" a
        where a.test_case_id = #{testCaseId}
        order by a.id asc
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "test_step" (name, expect, test_case_id)
        VALUES
        <foreach collection ="testSteps" item="step" separator =",">
            (#{step.name}, #{step.expect}, #{testCaseId})
        </foreach>
    </insert>

    <delete id="delete">
        delete from test_step where test_case_id = #{testCaseId}
    </delete>
</mapper>
