<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxf.pms.user.UserMapper">
    <select id="getByLoginName" resultType="jxf.pms.dbo.LoginUserDO">
        select id, name, email, password, phone_no, status from "user" where status != '删除' and login_name = #{loginName}
    </select>
    <select id="list" resultType="jxf.pms.dbo.UserDO">
        <bind name="name" value="'%' + name + '%'" />
        select id, name, email, password, phone_no, status, last_login_time, roles, login_name, create_time from "user" where status != '删除'
        <if test="userId != null">
            and id = #{userId}
        </if>
        <if test="loginName != null and loginName != ''">
            and login_name = #{loginName}
        </if>
        <if test="name != null and name != ''">
            and name like #{name}
        </if>
        <if test="roleId != null">
            and #{roleId} = any(roles)
        </if>
    </select>
    <select id="getByName" resultType="jxf.pms.dbo.UserDO">
        select id, name, email, password, phone_no, status, last_login_time, roles, login_name, create_time from "user" where status != '删除'
        and name = #{name}
    </select>
    <select id="getByPhoneNo" resultType="jxf.pms.dbo.UserDO">
        select id, name, email, password, phone_no, status, last_login_time, roles, login_name, create_time from "user" where status != '删除'
        and phone_no = #{phoneNo}
    </select>
    <select id="getById" resultType="jxf.pms.dbo.UserDO">
        select id, name, email, password, phone_no, status, last_login_time, roles, login_name, create_time from "user" where status != '删除'
        and id = #{userId}
    </select>
    <insert id="add">
        INSERT INTO "public"."user" ("name", "email", "password", "login_times", "last_login_time", "phone_no", "roles", "status", "create_by", "create_time", "login_name")
        VALUES ( #{name}, #{email}, #{password}, 0, NULL, #{phoneNo}, #{roleIds,typeHandler=jxf.pms.mybatis.IntegerArrayTypeHandler}, '正常', #{createBy}, #{createTime}, #{loginName});
    </insert>
</mapper>
