<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/lib/zui/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">
    <link href="/lib/zui/lib/picker/zui.picker.css" rel="stylesheet">

    <link href="/lib/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <script src="/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>

    <script src="/lib/zui/lib/kindeditor/kindeditor.js"></script>



    <style>
        label.error {
            color: red;
        }
    </style>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <div id="mainContent" class="main-content">
        <div class="center-block">
            <div class="main-header">
                <h2>查看bug</h2>
            </div>
            <form class="main-form form-ajax" id="dataform" onsubmit="save();" action="javascript:;">
                <table class="table table-form" style="width: 100%;">
                    <tbody>
                    <tr>
                        <th>bug名称</th>
                        <td  th:text="${bug.name}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>bug类型</th>
                        <td  th:text="${bug.bugType}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>严重程度</th>
                        <td  th:text="${bug.severityType}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>所属项目</th>
                        <td  th:text="${bug.projectName}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属模块</th>
                        <td  th:text="${bug.moduleName}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属需求</th>
                        <td  th:text="${bug.requirementName}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属任务</th>
                        <td  th:text="${bug.taskName}">
                        </td>
                    </tr>
                    <tr>
                        <th>指派人</th>
                        <td  th:text="${bug.handlerName}">
                        </td>
                    </tr>
                    <tr>
                        <th>bug状态</th>
                        <td  th:text="${bug.bugStatus}">
                        </td>
                    </tr>
                    <tr>
                        <th>bug描述</th>
                        <td  th:utext="${bug.describe}">
                        </td>
                    </tr>
                    <tr>
                        <th>创建人</th>
                        <td   th:utext="${bug.createByName}">
                        </td>
                    </tr>
                    <tr>
                        <th>创建时间</th>
                        <td   th:text="${#dates.format(bug.createTime, 'yyyy-MM-dd HH:mm:dd')}">
                        </td>
                    </tr>
                    <tr>
                        <th>解决人</th>
                        <td   th:utext="${bug.solveByName}">
                        </td>
                    </tr>
                    <tr>
                        <th>解决时间</th>
                        <td th:utext="${#dates.format(bug.solveTime, 'yyyy-MM-dd HH:mm:dd')}">
                        </td>
                    </tr>
                    <tr>
                        <th>解决方案</th>
                        <td th:text="${bug.severityType}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center form-actions">
                            <input type="hidden" id="uid" name="uid" value="624c47933a14c">            <a href="javascript:history.go(-1);" class="btn btn-back btn-wide">返回</a>          </td>
                    </tr>
                    </tbody></table>
            </form>
        </div>
    </div>
</main>

<script>

</script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/lib/validate/messages_zh.js"></script>
<script src="/lib/zui/lib/picker/zui.picker.js"></script>


<script src="/js/common.js"></script>
</body>
</html>


