<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/lib/zui/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">
    <link href="/lib/zui/lib/picker/zui.picker.css" rel="stylesheet">

    <link href="/lib/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <script src="/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>

    <script src="/lib/zui/lib/kindeditor/kindeditor.js"></script>



    <style>
        label.error {
            color: red;
        }
    </style>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <div id="mainContent" class="main-content">
        <div class="center-block">
            <div class="main-header">
                <h2>添加需求</h2>
            </div>
            <form class="main-form form-ajax" id="dataform" onsubmit="save();" action="javascript:;">
                <input type="hidden" name="id" th:value="${plan.id}">
            <table class="table table-form table-fixed search-table" width="100%">
                <tbody>
                <tr class="input-control has-label-left">
                    <td width="80%">
                        <select name="requirementIds" class="form-control" data-placeholder="选择需求" multiple data-multi="true">
                            <option value=""></option>
                            <option th:each="req,i:${allRequirements}" th:value="${req.id}" th:text="${req.name}"></option>
                        </select>
                    </td>
                    <td class="text-center form-actions">
                        <button id="submit" class="btn btn-primary" onclick="save()">添加</button>
                    </td>
                </tr>
                </tbody></table>
            </form>
        </div>
        <div class="center-block">
            <div class="main-header">
                <h2>计划需求</h2>
            </div>
                <table class="table table-form" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>ID</th>
                        <th>需求</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="req,i:${requirements}" >
                        <td><a th:text="${i.index+1}"></a></td>
                        <td><a th:text="${req.id}"</a></td>
                        <td><a th:text="${req.name}"</a></td>
                    </tr>
                    </tbody></table>
        </div>
    </div>
</main>

<script>
    function save() {
        if (!$('#dataform').valid()) return;

        var data = $('#dataform').serializeJson();
        if (data.requirementIds && !Array.isArray(data.requirementIds)) data.requirementIds = [data.requirementIds];
        $.post('/project/plan/addRequirements', data, function(result) {
            location.href = '/project/plan';
        })
    }

    $(function () {
        $('select').picker();
        $("#dataform").validate();
    })
</script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/lib/validate/messages_zh.js"></script>
<script src="/lib/zui/lib/picker/zui.picker.js"></script>


<script src="/js/common.js"></script>
</body>
</html>


