<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">
    <link href="/lib/zui/lib/picker/zui.picker.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">

    <style>
        label.error {
            color: red;
        }
    </style>
    <script src="/lib/zui/lib/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
    <script type="text/javascript" src="/lib/ztree/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="/lib/ztree/js/jquery.ztree.exedit.min.js"></script>


</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <div id="mainContent" class="main-content">
        <div class="center-block">
            <div class="main-header">
                <h2>模块管理</h2>
            </div>
            <div class="main-form">
                <ul id="moduleTree" class="ztree"></ul>
            </div>
        </div>
    </div>
</main>
<input type="hidden" name="projectName" th:value="${project.name}">
<input type="hidden" name="projectId" th:value="${project.id}">
<script>
    var moduleTree = null;

    function getModules() {
        $.post('/project/module/list', {}, function(result) {
            var modules = result.data;
            var projectName = $('input[name=projectName]').val();
            var rootNode = { id: null, pId:null, name:projectName, open:true,enable:false,chkDisabled:true}
            var nodes = [rootNode];
            for (var i = 0; i < modules.length; i++) {
                var item = modules[i];
                var node = { id: item.id, pId:item.parentId, name:item.name, open:true};
                nodes.push(node);
            }

            var setting = {
                view: {
                    addHoverDom: addHoverDom
                },
                edit: {
                    enable: true,
                    renameTitle: "重命名",
                    RemoveTitle: "删除模块",
                    showBtn: true,

                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    onRemove: onRemove,
                    onRename: onRename
                }
            };

            $(document).ready(function(){
                moduleTree = $.fn.zTree.init($("#moduleTree"), setting, nodes);
            });
        })
    }

    var newCount = 1;
    function addHoverDom(treeId, treeNode) {
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
        var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
            + "' title='add node' onfocus='this.blur();'></span>";
        sObj.after(addStr);
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            var node = {id:null, pId:treeNode.id, name:"新增模块" + + (newCount++)}
            $.post('/project/module/add', {
                projectId:$('input[name=projectId]').val(),
                parentId:treeNode.id,
                name:node.name}, function(result) {
                var zTree = $.fn.zTree.getZTreeObj("moduleTree");
                zTree.addNodes(treeNode, node);
            })
            return false;
        });
    };

    function onRemove(e, treeId, treeNode) {
        $.post('/project/module/delete', {id:treeNode.id}, function(result) {
        })
    }

    function onRename(e, treeId, treeNode, isCancel) {
        $.post('/project/module/rename', {id:treeNode.id, name:treeNode.name}, function(result) {
        })
    }

    $(function () {
        getModules();
    })
</script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/lib/validate/messages_zh.js"></script>
<script src="/lib/zui/lib/picker/zui.picker.js"></script>


<script src="/js/common.js"></script>
</body>
</html>


