<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/lib/zui/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">
    <link href="/lib/zui/lib/picker/zui.picker.css" rel="stylesheet">

    <link href="/lib/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <script src="/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>

    <script src="/lib/zui/lib/kindeditor/kindeditor.js"></script>



    <style>
        label.error {
            color: red;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <div id="mainContent" class="main-content">
        <div class="center-block">
            <div class="main-header">
                <h2>修改需求</h2>
            </div>
            <form class="main-form form-ajax" id="dataform" onsubmit="save();" action="javascript:;">
                <input type="hidden" name="id" th:value="${requirement.id}">
                <table class="table table-form" style="width: 400px;">
                    <tbody>
                    <tr>
                        <th>需求名称</th>
                        <td class="required">
                            <input type="text" class="form-control" name="name" required maxlength="20" th:value="${requirement.name}">
                        </td>
                    </tr>
                    <tr>
                        <th>优先级</th>
                        <td class="required">
                            <div>
                                <select id="priority_select" name="priority" class="form-control" data-multi="false" required>
                                    <option th:selected="${requirement.priority==1}">1</option>
                                    <option th:selected="${requirement.priority==2}">2</option>
                                    <option th:selected="${requirement.priority==3}">3</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>所属项目</th>
                        <td class="required">
                            <div>
                                <select id="project_select" name="projectId" class="form-control" data-multi="false" required>
                                    <option></option>
                                    <option th:each="project,i:${projects}" th:value="${project.id}" th:text="${project.name}" th:selected="${requirement.projectId==project.id}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>所属模块</th>
                        <td class="required">
                            <div>
                                <select id="module_select" name="moduleId" class="form-control" data-multi="false" required>
                                    <option></option>
                                    <option th:each="module,i:${modules}" th:value="${module.id}" th:text="${module.name}" th:selected="${requirement.moduleId==module.id}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>所属计划</th>
                        <td class="">
                            <div>
                                <select id="plan_select" name="planId" class="form-control" data-multi="false">
                                    <option></option>
                                    <option th:each="plan,i:${plans}" th:value="${plan.id}" th:text="${plan.name}" th:selected="${requirement.planId==plan.id}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>指派人</th>
                        <td class="required">
                            <div>
                            <select name="handleBy" class="form-control" data-multi="false" required>
                                <option></option>
                                <option th:each="user,i:${users}" th:value="${user.id}" th:text="${user.name}" th:selected="${requirement.handleBy == user.id}"></option>
                            </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>需求阶段</th>
                        <td class="required">
                            <div>
                                <select name="requirementPhase" class="form-control" data-multi="false" required>
                                    <option></option>
                                    <option th:selected="${requirement.requirementPhase=='未开始'}">未开始</option>
                                    <option th:selected="${requirement.requirementPhase=='已计划'}">已计划</option>
                                    <option th:selected="${requirement.requirementPhase=='已立项'}">已立项</option>
                                    <option th:selected="${requirement.requirementPhase=='研发中'}">研发中</option>
                                    <option th:selected="${requirement.requirementPhase=='研发完毕'}">研发完毕</option>
                                    <option th:selected="${requirement.requirementPhase=='测试中'}">测试中</option>
                                    <option th:selected="${requirement.requirementPhase=='测试完毕'}">测试完毕</option>
                                    <option th:selected="${requirement.requirementPhase=='已验收'}">已验收</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>需求描述</th>
                        <td class="required">
                            <textarea name="describe" class="form-control kindeditorSimple" th:text="${requirement.describe}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>验收标准</th>
                        <td class="required">
                            <textarea name="acceptanceCriteria" class="form-control kindeditorSimple"  th:text="${requirement.acceptanceCriteria}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center form-actions">
                            <button type="submit" id="submit" class="btn btn-wide btn-primary" data-loading="稍候...">保存</button><input type="hidden" id="uid" name="uid" value="624c47933a14c">            <a href="javascript:history.go(-1);" class="btn btn-back btn-wide">返回</a>          </td>
                    </tr>
                    </tbody></table>
            </form>
        </div>
    </div>
</main>

<script>
    var myEditor1 = null;
    var myEditor2 = null;
    function save() {
        if (!$('#dataform').valid()) return;

        // 同步编辑器内容
        myEditor1.sync();
        myEditor2.sync();
        var data = $('#dataform').serializeJson();
        $.post('/project/requirement/update', data, function(result) {
            location.href = '/project/requirement';
        })
    }

    $(function () {
        $('#priority_select').picker();
        $('#plan_select').picker();
        $('#isRevie_select').picker();
        $('#module_select').picker();


        // 加载模块
        $('#project_select').picker().on('change', function(e, a) {
            $.post('/project/module/list',{
                projectId: a.value
            }, function(rst) {
                var data = rst.data;
                var list = [];
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var name = item.name;
                    if (item.parentName) {
                        name = parentName + '/' + name;
                    }
                    list.push({text:item.name, value:item.id})
                }

                $('#module_select').data('zui.picker').destroy();
                $('#module_select').picker({list:list});
            })
        });

        $("#dataform").validate();

        // editor
        myEditor1 = KindEditor.create('textarea[name=acceptanceCriteria]', simpleEditor);
        myEditor2 = KindEditor.create('textarea[name=describe]', simpleEditor);
    })
</script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/lib/validate/messages_zh.js"></script>
<script src="/lib/zui/lib/picker/zui.picker.js"></script>


<script src="/js/common.js"></script>
</body>
</html>


