<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/lib/zui/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">
    <link href="/lib/zui/lib/picker/zui.picker.css" rel="stylesheet">

    <link href="/lib/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <script src="/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>

    <script src="/lib/zui/lib/kindeditor/kindeditor.js"></script>



    <style>
        label.error {
            color: red;
        }
    </style>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <div id="mainContent" class="main-content">
        <div class="center-block">
            <div class="main-header">
                <h2>查看任务</h2>
            </div>
            <form class="main-form form-ajax" id="dataform" onsubmit="save();" action="javascript:;">
                <table class="table table-form" style="width: 100%;">
                    <tbody>
                    <tr>
                        <th>任务名称</th>
                        <td  th:text="${task.name}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>任务类型</th>
                        <td  th:text="${task.taskType}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>优先级</th>
                        <td  th:text="${task.priority}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属项目</th>
                        <td  th:text="${task.projectName}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属模块</th>
                        <td  th:text="${task.moduleName}">
                        </td>
                    </tr>
                    <tr>
                        <th>所属需求</th>
                        <td  th:text="${task.requirementName}">
                        </td>
                    </tr>
                    <tr>
                        <th>指派人</th>
                        <td  th:text="${task.handlerName}">
                        </td>
                    </tr>
                    <tr>
                        <th>任务状态</th>
                        <td  th:text="${task.taskStatus}">
                        </td>
                    </tr>
                    <tr>
                        <th>任务描述</th>
                        <td  th:utext="${task.describe}">
                        </td>
                    </tr>
                    <tr>
                        <th>开始时间</th>
                        <td  th:utext="${#dates.format(task.beginDate, 'yyyy-MM-dd')}">
                        </td>
                    </tr>
                    <tr>
                        <th>结束时间</th>
                        <td  th:utext="${#dates.format(task.endDate, 'yyyy-MM-dd')}">
                        </td>
                    </tr>
                    <tr>
                        <th>预估工时</th>
                        <td  th:text="${task.estimateHours}">
                        </td>
                    </tr>
                    <tr>
                        <th>实际工时</th>
                        <td  th:text="${task.costHours}">
                        </td>
                    </tr>
                    <tr>
                        <th>创建人</th>
                        <td   th:utext="${task.createByName}">
                        </td>
                    </tr>
                    <tr>
                        <th>创建时间</th>
                        <td   th:text="${#dates.format(task.createTime, 'yyyy-MM-dd HH:mm:dd')}">
                        </td>
                    </tr>
                    <tr>
                        <th>完成人</th>
                        <td   th:utext="${task.finisherName}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center form-actions">
                            <input type="hidden" id="uid" name="uid" value="624c47933a14c">            <a href="javascript:history.go(-1);" class="btn btn-back btn-wide">返回</a>          </td>
                    </tr>
                    </tbody></table>
            </form>
        </div>
    </div>
</main>

<script>

</script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="/lib/validate/messages_zh.js"></script>
<script src="/lib/zui/lib/picker/zui.picker.js"></script>


<script src="/js/common.js"></script>
</body>
</html>


