<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT项目管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/lib/zui/css/zui.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen">

    <style>
        .search-table input,.search-table select {display: inline;width: 77%;}
    </style>
    <script src="http://cdn.bootcdn.net/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/lib/zui/js/zui.min.js"></script>
</head>
<body>
<header id="header" th:replace="/common/header::#header"></header>
<main id="main" class="in">
    <form id="list_form">
    <div class="panel">
        <div class="panel-body">
            <table class="table table-form table-fixed search-table">
                <tbody>
                <tr class="input-control has-label-left">
                    <td>
                        用户ID：<input type="text" name="userId" class="form-control">
                    </td>
                    <td>
                        登录名：<input type="text" name="loginName" class="form-control">
                    </td>
                    <td>
                        姓名：<input type="text" name="name" class="form-control">
                    </td>
                    <td>
                        角色：
                        <select name="roleId" class="form-control">
                        <option value="">请选择</option>
                        <option th:each="role,i:${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="text-center form-actions">
                        <button id="submit" class="btn btn-primary" onclick="javascript:table.getList();return false;" data-loading="稍候...">搜索</button>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
    <div class="panel">
        <div class="btn-toolbar pull-right" style="margin-top: 10px; margin-right: 15px;">
            <a href="/org/user/add" class="btn btn-primary"><i class="icon icon-plus"></i> 添加用户</a>
        </div>
        <div class="panel-body">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>登录名</th>
                    <th>邮箱</th>
                    <th>手机号</th>
                    <th>角色</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in list">
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.loginName}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phoneNo}}</td>
                    <td><span v-for="roleName in i.roleNames">{{roleName}} </span></td>
                    <td>{{i.status}}</td>
                    <td>{{i.createTime}}</td>
                    <td>
                        <a :href="'/org/user/update?userId=' + i.id" >修改</a>
                        <a onclick="javascript:del({{i.id}});">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer">
                <ul class="pager" id="pager"></ul>
            </div>
        </div>
    </div>
    </form>
</main>

<script>
    var table = new Vue({
        el: '#table',
        data: {
            list:[]
        },
        created: function() {
            $('#pager').pager({
                onPageChange: function(state, oldState) {
                    table.pageIndex = state.page;
                    table.getList();
                }
            });
        },
        methods: {
            getList: function() {
                var data = $('#list_form').serializeJson();
                data.pageIndex = table.pageIndex;
                $.post('/org/user/list', data, function(result) {
                    console.log(result);
                    table.list = result.data;
                    console.log(result.pageIndex + '-' + result.totalCount + '-' + result.pageSize);
                    $('#pager').data('zui.pager').set(null, result.totalCount, result.pageSize);
                })
                return false;
            }
        }
    });
    $(function () {
        table.getList();
    })
</script>

<script src="/js/common.js"></script>
</body>
</html>


